* {
    margin: 0px;
    
    box-sizing: border-box;
    font-family: san-serif;
}

body{
    background-color: #e9e8e8;
}

header{
    height: 70px;
    border: lightgrey solid 1px;
    background-color: white;
}

.logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}

.logo-text {
    font-size: 40px;
    line-height: 50px;
}

.main{
    width: 70%;
    margin: 50px auto;
    background-color:white;
}

.main-navigator{
    border: lightgrey solid 1px;
}

.navigation{ 
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 20px 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    margin-left: 40px;
}

.navigation-1{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 20px 20px;
    background-color: white;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}

hr{
    margin-bottom: 30px;
    margin-top: -10px;
    color: lightgrey;
}

.table{
    margion: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.entities-done{
    color: green;
    width: 50px;
    height: 50px;
    border: green solid 1px;
    border-radius: 50%;
}

.entities-todo{
    color:red;
    width: 60px;
    height: 60px;
    border: red solid 1px;
    border-radius: 50%;
}

.text{
    font-size: 18px;
}

.badge { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

.badge-1 { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color: purple;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

.badge-2 { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color:green;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

.badge-3 { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color:orange;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

.badge-4 { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color:palevioletred;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

.badge-5 { 
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 20px 20px;
    background-color:limegreen;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
}

