/* genera style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: sans-serif;
}

/* header */

header{
    background-color: white;
    margin-bottom: 40px;
    padding: 10px 20px;
}

.logo{
    vertical-align: middle;

}

.logo-text{
    font-weight: bold;
    vertical-align: middle;
    font-size: 30px;
}
/* boold=700 */
/* normal=400 */

/* commos */

.conteiner{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

/* action */

.action{
    padding: 10px 20px;
    border-bottom: 4px solid lightgrey;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-filled{
    background-color: lime;
    color: white;
    border: 1px solid currentColor;

}

.btn-outlined{
    background-color: gray;
    color: white; 
    border: 1px solid currentColor;
}

/* tasks */

.tasks{
    padding: 30px 50px;
}

.task-group{
    color: darkblue;
    margin-bottom: 25px;
}

li{
    list-style: none;
    padding: 10px 0;
}

.circle{
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
}

.checked{
    color: darkblue;
    border: 1px solid currentColor;
    line-height: 15px;
}

.delete{
    color: red;
    border: 1px solid currentColor;
    line-height: 14px;
}

.tag{
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
}

.bg-type-1{
    background-color: darkblue;
}

.bg-type-2{
background-color: darkgoldenrod;
}

.bg-type-3{
background-color: chartreuse;
}