* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: san-serif;
}

body{
    background-color: #e9e8e8;
}

header{
    height: 70px;
    border: lightgrey solid 1px;
    background-color: white;
}

.logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}

.logo-text {
    font-size: 40px;
    line-height: 50px;
}

.main{
    width: 70%;
    margin: 50px auto;
    background-color: aqua;
}

.main-navigator{
    border: lightgrey solid 1px;
}

.navigator{ 
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 20px 20px;
    background-color: dodgerblue;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
}

.navigator-1{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 20px 20px;
    background-color: white;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}

